<component name="ArtifactManager">
  <artifact type="war" name="spring:war">
    <output-path>$PROJECT_DIR$/spring/target</output-path>
    <root id="archive" name="demo-spring-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring:war exploded" />
    </root>
  </artifact>
</component>