<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="LogImpl" value="LOG4J2"/>
    </settings>
    <!-- 使用别名,避免输入太长的包名.注意,该操作会替换所有单独的单词 UserEntity -->
    <typeAliases>
        <typeAlias type="xyz.antsgroup.demo.mybatis.UserEntity" alias="UserEntity"/>
    </typeAliases>


    <!-- 在应用程序中选择使用那种环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mytest"/>
                <property name="username" value="ypc"/>
                <property name="password" value="ypcdhq82"/>
            </dataSource>
        </environment>
    </environments>




    <mappers>
        <mapper resource="UserEntityMapper.xml"/>
    </mappers>
</configuration>