<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UserEntity">
    <!--
    在select标签中编写查询的SQL语句， 设置select标签的id属性为getMybatisTest，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    -->
    <!--
        根据id查询得到一个 MybatisTest 对象
     -->
    <select id="getUserEntity" resultType="UserEntity">
        select * from user where id = #{id}
    </select>

    <!--
    两点注意:
    1. 如果SQL语句的引号中间需要传入值,不能直接写成 '#{name}',应该使用CONCAT函数.
    2. 如果需要比较字符串,应该使用''.toString().
    -->
    <select id="getUserEntity" resultType="UserEntity">
        SELECT *
       FROM "user"
        <where>
            <if test="name != null">
                name LIKE CONCAT('%',#{name}, '%')
            </if>
            <if test="name == 'Yang'.toString()">
                AND age > 10
            </if>
        </where>
    </select>
</mapper>