<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UserEntity">
    <!--
    在select标签中编写查询的SQL语句， 设置select标签的id属性为getMybatisTest，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    -->
    <!--
        根据id查询得到一个 MybatisTest 对象
     -->
    <select id="getUserEntity" resultType="UserEntity">
        select * from user where id = #{id}
    </select>
</mapper>